body {
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
  }
input, select {
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: center;
}
button {
  height: 40px;
  background-color: #333333;
  /* margin-bottom: 20px; */
  /* vertical-align: center; */
}
main a {
  text-decoration: none;
  color: inherit;
}
.btn {
  background-color: #666666;
  color: #ffffff;
  border-radius: 5px;
  border-color: #000000;
  padding: 3px;
  margin: 3px;
}
.btn:hover {
  background-color: #999999;
  color: #333333;
  border-color: #ffffff;
}
.form {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #666666;
  padding-left: 5px;
}
.hidden {
  display: none;
}
.error {
  color: #ff0000;
  font-weight: bold;
}
.search {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.icon{
  color: #000000;
}
.uvRed1{
  background-color: #ff0000;
  color: #000000;
  padding: 5px 10px;
}
.uvRed2{
  background-color: #ff8300;
  color: #000000;
  padding: 5px 10px;
}
.uvYellow1{
  background-color: #ffce00;
  color: #000000;
  padding: 5px 10px;
}
.uvGreen1{
  background-color: #79ff00;
  color: #000000;
  padding: 5px 10px;
}
.uvGreen2{
  background-color: #96ff9D;
  color: #000000;
  padding: 5px 10px;
}
.bottom-credit {
  margin-top: 30px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #ffffff;
}
.bottom-credit a {
  color: #ffffff;
}
p {
  padding: 10px;
  margin: 0px;
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
}
h1, h2 {
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.future {
  align-items: center;
  justify-content: space-around;
}
.future-day {
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 10px;
  margin: 5px;
  width: 14%;
}
.future-title {
  margin-top: 30px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #ffffff;
}
.title-fade {
  background: linear-gradient(to right, rgba(51,51,51,0), rgba(51,51,51,0.9), rgba(51,51,51,0));
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
}
.rounded {
  background-color: rgba(51,51,51,0.9);
  border-radius: 5px;
  border: 2px solid #ffffff;
  margin: 10px;
  padding: 10px;
  width: 48%;
  align-items: center;
  justify-content: space-around;
}
.mg-btm {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .rounded {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .future-day {
    width: 30%;
}
@media only screen and (max-width: 650px) {
  .future-day {
    width: 48%;
}