body {
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }
input, select {
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: center;
}
button {
  height: 40px;
  /* margin-bottom: 20px; */
  /* vertical-align: center; */
}
main a {
  text-decoration: none;
  color: inherit;
}
.hidden {
  display: none;
}
.error {
  color: #ff0000;
  font-weight: bold;
}
.search {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.icon{
  color: #000000;
}
.uvRed1{
  background-color: #ff0000;
  color: #000000;
}
.uvRed2{
  background-color: #ff8300;
  color: #000000;
}
.uvYellow1{
  background-color: #ffce00;
  color: #000000;
}
.uvGreen1{
  background-color: #79ff00;
  color: #000000;
}
.uvGreen2{
  background-color: #96ff9D;
  color: #000000;
  padding: 5px 10px;
}